@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
.iconheartProperties {
  display: inline-block;
  position: absolute;
  width: 25px;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.iconheartProperties #heart {
  width: 98%;
}

@-webkit-keyframes checkanim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes checkanim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes priceanim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

@keyframes priceanim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

@-webkit-keyframes pointsanim {
  0% {
    opacity: -1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-800%);
            transform: translateX(-800%);
  }
}

@keyframes pointsanim {
  0% {
    opacity: -1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-800%);
            transform: translateX(-800%);
  }
}

@-webkit-keyframes circleanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes circleanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes validationcontainer {
  0% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes validationcontainer {
  0% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@-webkit-keyframes enterelements {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes enterelements {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes loaderduration {
  0% {
    opacity: 0;
    z-index: -100;
  }
  99% {
    opacity: 0;
    z-index: -100;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}

@keyframes loaderduration {
  0% {
    opacity: 0;
    z-index: -100;
  }
  99% {
    opacity: 0;
    z-index: -100;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

body .centerloader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1000;
  -webkit-animation: endloader 5s both;
          animation: endloader 5s both;
}

body .centerloader .loadercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
  -webkit-animation: mvtloader 3s forwards ease-in-out infinite;
          animation: mvtloader 3s forwards ease-in-out infinite;
}

body .centerloader .loadercontainer #smoke {
  width: 100%;
  margin: 0 auto;
}

body .centerloader .loadercontainer #smoke .smokepath {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation: smokeanim 1s ease-in-out;
  animation: smokeanim 1s ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

body .centerloader #plate {
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes smokeanim {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    opacity: 1;
  }
  75% {
    opacity: 0.6;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes smokeanim {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    opacity: 1;
  }
  75% {
    opacity: 0.6;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes mvtloader {
  0% {
    -webkit-transform: translateY(0px, 0);
    transform: translateY(0px, 0);
  }
  15% {
    -webkit-transform: translate(4px, 10px);
    transform: translate(4px, 10px);
  }
  30% {
    -webkit-transform: translate(-1px, 0px);
    transform: translate(-1px, 0px);
  }
  45% {
    -webkit-transform: translate(3px, 10px);
    transform: translate(3px, 10px);
  }
  65% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  85% {
    -webkit-transform: translate(2px, 10px);
    transform: translate(2px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes mvtloader {
  0% {
    -webkit-transform: translateY(0px, 0);
    transform: translateY(0px, 0);
  }
  15% {
    -webkit-transform: translate(4px, 10px);
    transform: translate(4px, 10px);
  }
  30% {
    -webkit-transform: translate(-1px, 0px);
    transform: translate(-1px, 0px);
  }
  45% {
    -webkit-transform: translate(3px, 10px);
    transform: translate(3px, 10px);
  }
  65% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  85% {
    -webkit-transform: translate(2px, 10px);
    transform: translate(2px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes endloader {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    z-index: -100;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes endloader {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    z-index: -100;
    opacity: 0;
    visibility: hidden;
  }
}

.heartcontainer2 {
  position: relative;
}

.emptyheart {
  position: absolute;
}

.emptyheart:hover {
  -webkit-animation: emptyanim 1s ease-in-out both;
          animation: emptyanim 1s ease-in-out both;
}

.emptyheart:hover + .fullheart {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.fullheart {
  position: absolute;
  left: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  transition: -webkit-transform 800ms ease-in-out;
  transition: transform 800ms ease-in-out;
  transition: transform 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
}

.fullheart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fullheart:hover + .emptyheart {
  -webkit-animation: emptyanim 0.2s ease-in-out both;
          animation: emptyanim 0.2s ease-in-out both;
}

@-webkit-keyframes emptyanim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes emptyanim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.homepage {
  width: 100%;
  height: auto;
  background: transparent;
  -webkit-animation: loaderduration 5.1s both;
          animation: loaderduration 5.1s both;
}

main {
  margin-top: 61px;
}

main #location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-shadow: -1.8px 0px 1.2px 0px #000000;
          box-shadow: -1.8px 0px 1.2px 0px #000000;
  width: auto;
  height: 55px;
  z-index: 1;
}

main #location:hover {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-box-shadow: 1px 1px 3px 3px #a8a6a6;
          box-shadow: 1px 1px 3px 3px #a8a6a6;
}

main #location .location__icon {
  font-size: 15px;
  padding-right: 15px;
  color: #363636;
}

main #location form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: 0px;
  background-color: #eaeaea;
  font-family: robotto, sans-serif;
  font-size: 1rem;
  font-weight: 550;
}

main #location form input {
  border: 0px;
  background-color: #eaeaea;
  outline: none;
  width: 56%;
}

main #location form input::-webkit-input-placeholder {
  font-family: robotto, sans-serif;
  font-size: 1em;
  font-weight: 550;
}

main #location form input::-webkit-input-placeholder:focus::-webkit-input-placeholder {
  visibility: hidden;
  opacity: 0;
}

main #location form input::-webkit-input-placeholder:-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 600;
}

main #location form input::-webkit-input-placeholder::-moz-placeholder {
  font-size: 1em;
  font-weight: 600;
}

main #location form input::-webkit-input-placeholder:-ms-input-placeholder {
  font-size: 1em;
  font-weight: 600;
}

main #navsection {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 58px;
}

main #navsection h1 {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: robotto, sans-serif;
  font-size: 20px;
  text-align: center;
}

main #navsection #navsection__txt {
  width: 80%;
  margin: 0 auto;
  font-family: robotto, sans-serif;
  font-size: 18px;
  color: #565555;
  text-align: center;
  margin-bottom: 30px;
}

main #navsection #nav__bar {
  margin: 0 auto;
  text-align: center;
}

main #navsection #nav__bar #navbar__button {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #9356dc), color-stop(97%, #ff79da));
  background: linear-gradient(0deg, #9356dc 3%, #ff79da 97%);
  border-radius: 30px;
  padding: 15px 18px;
  font-family: robotto, sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 4px 9px 3px #e2dddd;
          box-shadow: 0px 4px 9px 3px #e2dddd;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main #navsection #nav__bar #navbar__button:hover {
  opacity: 0.7;
  cursor: -webkit-grab;
  cursor: grab;
}

main #functioning {
  margin-left: 20px;
}

main #functioning h2 {
  font-family: robotto, sans-serif;
  font-size: 20px;
}

main #functioning #functioninglist {
  max-width: 92%;
  list-style-type: none;
  font-family: robotto, sans-serif;
  font-weight: bold;
  margin: 6px;
  padding-left: 0px;
}

main #functioning #functioninglist .functioning__button {
  font-size: 0.6em;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px 0px;
  -webkit-box-shadow: 0px 4px 9px 3px #e2dddd;
          box-shadow: 0px 4px 9px 3px #e2dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #functioning #functioninglist .functioning__button:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 1px 4px 12px 3px #e2dddd;
          box-shadow: 1px 4px 12px 3px #e2dddd;
}

main #functioning #functioninglist .functioning__button:hover > .fcticon {
  color: #9356dc;
}

main #functioning #functioninglist .number__container {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #functioning #functioninglist .number__container .circle {
  position: relative;
  width: 7px;
  height: 7px;
  padding: 2px 12px;
  background-color: #9356dc;
  border-radius: 100%;
}

main #functioning #functioninglist .number__container .circle .circle__number {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%, -45%);
          transform: translate(-55%, -45%);
}

main #functioning #functioninglist .fcticon {
  margin: 0px 10px 0px 26px;
  font-size: 1em;
  color: #8d8d8d;
}

main #functioning #functioninglist .fcticon:hover {
  color: #9356dc;
}

main #functioning #functioninglist .fct__text {
  margin: 0px 10px 0px 0px;
  font-size: 1.2em;
}

main #functioning #functioninglist .fct__text:hover {
  color: #000000;
}

main #restaurants {
  background-color: #f7f7f7;
  padding: 40px 3%;
  position: relative;
}

main #restaurants #marker {
  position: absolute;
  top: -40px;
}

main #restaurants h2 {
  font-family: robotto, sans-serif;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 25px;
}

main #restaurants .restaurantlink {
  text-decoration: none;
  color: #000000;
}

main #restaurants .restaurantlink .restaurantcontainers {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 3px;
  width: 97%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  font-family: robotto, sans-serif;
  -webkit-box-shadow: 0px 4px 9px 3px #e2dddd;
          box-shadow: 0px 4px 9px 3px #e2dddd;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main #restaurants .restaurantlink .restaurantcontainers:hover {
  -webkit-box-shadow: -5px 7px 10px 4px #e2dddd;
          box-shadow: -5px 7px 10px 4px #e2dddd;
}

main #restaurants .restaurantlink .restaurantimg {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

main #restaurants .restaurantlink .restaurantimg:hover {
  opacity: 0.3;
}

main #restaurants .restaurantlink .new {
  position: absolute;
  top: 0px;
  right: 14px;
  padding: 7px 13px;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: bold;
  color: #0c8e6e;
}

main #restaurants .restaurantlink h3 {
  margin: 10px 0px 5px 10px;
  font-size: 1em;
}

main #restaurants .restaurantlink .restaurantp {
  margin: 0px 0px 13px 10px;
  font-size: 1em;
}

main .heartscontainer1 {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  right: 35px;
  bottom: 55px;
}

@media screen and (min-width: 769px) {
  main {
    margin-top: 102px;
  }
  main #functioning {
    margin-left: 20px;
    margin-right: 20px;
  }
  main #functioning h2 {
    font-family: robotto, sans-serif;
    font-size: 1.3em;
  }
  main #functioning #functioninglist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-right: 20px;
  }
  main #functioning #functioninglist .functioning__button {
    margin-bottom: 20px;
    margin-right: 0px;
    padding: 20px 10px 20px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #functioning #functioninglist .functioning__button .fcticon {
    font-size: 1.3em;
    margin-right: 13px;
  }
  main #functioning #functioninglist .functioning__button .fct__text {
    font-size: 1.3em;
    margin-right: 10px;
  }
  main #restaurants {
    padding: 40px 20px;
  }
  main #restaurants .restaurant__lign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main #restaurants .restaurant__lign .restaurantlink {
    width: 98%;
  }
  main #restaurants .restaurant__lign .restaurantlink .restaurantcontainers {
    width: 95%;
  }
}

@media screen and (min-width: 1100px) {
  body,
  html {
    margin-top: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .homepage,
  html .homepage {
    display: block;
    background-color: #f7f7f7;
    height: 1200px;
    width: 100%;
  }
  body .maindesktop,
  html .maindesktop {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
  body .maindesktop .whiteleftcontainerdesktop,
  html .maindesktop .whiteleftcontainerdesktop {
    background-color: #ffffff;
    width: 40%;
    height: 150vh;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop {
    margin-top: 300px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location {
    height: 65px;
    width: 350px;
    margin: auto;
    margin-top: 55px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location:hover,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location:hover {
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-box-shadow: 1px 1px 3px 3px #a8a6a6;
            box-shadow: 1px 1px 3px 3px #a8a6a6;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location .location__icon,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location .location__icon {
    font-size: 1.3rem;
    padding-right: 25px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form {
    font-size: 1.3rem;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input {
    width: 56%;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.3rem;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:focus::-webkit-input-placeholder,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:-moz-placeholder,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:-moz-placeholder {
    font-size: 2rem;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder::-moz-placeholder,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder::-moz-placeholder {
    font-size: 2em;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:-ms-input-placeholder,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #location form input::-webkit-input-placeholder:-ms-input-placeholder {
    font-size: 2rem;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection {
    padding-top: 43px;
    padding-bottom: 15px;
    background-color: transparent;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection h1,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #navsection__txt,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #navsection__txt {
    font-size: 1.4em;
    margin-bottom: 30px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #nav__bar,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #nav__bar {
    margin: 0 auto;
    margin-bottom: 7px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #nav__bar #navbar__button,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #navsection #nav__bar #navbar__button {
    border-radius: 40px;
    padding: 25px 28px;
    font-size: 1.1em;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning {
    margin: 50px 40px 100px 40px;
    text-align: center;
    margin-top: 15px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning h2,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning h2 {
    font-family: robotto, sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist {
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding-left: 15%;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button {
    width: 85%;
    padding: 25px 10px 25px 25px;
    border-radius: 40px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button .fcticon,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button .fcticon {
    font-size: 1.8em;
    margin-right: 23px;
  }
  body .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button .fct__text,
  html .maindesktop .whiteleftcontainerdesktop .leftelementscontainerdesktop #functioning #functioninglist .functioning__button .fct__text {
    font-size: 1.8em;
    margin-right: 20px;
  }
  body .maindesktop #restaurants,
  html .maindesktop #restaurants {
    position: absolute;
    padding: 40px 20px;
    right: 15px;
    bottom: 144px;
    text-align: center;
    width: 56%;
    max-width: 56%;
  }
  body .maindesktop #restaurants h2,
  html .maindesktop #restaurants h2 {
    font-size: 2em;
    margin-bottom: 65px;
  }
  body .maindesktop #restaurants .restaurant__lign,
  html .maindesktop #restaurants .restaurant__lign {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink {
    width: 98%;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers {
    width: 95%;
    height: 280px;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .restaurantimg,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .restaurantimg {
    width: 100%;
    height: 200px;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .new,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .new {
    position: absolute;
    top: 0px;
    right: 14px;
    padding: 7px 13px;
    font-size: 1em;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers h3,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers h3 {
    font-size: 1.4em;
    text-align: start;
    margin: 10px 0px 5px 25px;
  }
  body .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .restaurantp,
  html .maindesktop #restaurants .restaurant__lign .restaurantlink .restaurantcontainers .restaurantp {
    text-align: start;
    margin: 0px 0px 13px 25px;
    font-size: 1.4em;
  }
  body .maindesktop #restaurants .restaurant__lign .heartscontainer1,
  html .maindesktop #restaurants .restaurant__lign .heartscontainer1 {
    position: absolute;
    right: 50px;
    bottom: 63px;
  }
}

html,
body {
  margin-top: 0;
}

html .topimg,
body .topimg {
  margin-top: 0px;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

html .menus,
body .menus {
  position: relative;
  width: 100%;
  height: 1038px;
}

html .menus .firstcontainermenu,
body .menus .firstcontainermenu {
  position: absolute;
  top: -20px;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  border-radius: 25px 25px 0px 0px;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -ms-border-radius: 25px 25px 0px 0px;
  -o-border-radius: 25px 25px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

html .menus .firstcontainermenu .restaurantname,
body .menus .firstcontainermenu .restaurantname {
  font-family: shrikhand;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

html .menus .firstcontainermenu .heartscontainer1bis,
body .menus .firstcontainermenu .heartscontainer1bis {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  position: absolute;
  top: 28px;
  right: 45px;
}

html .menus .firstcontainermenu .starter,
body .menus .firstcontainermenu .starter {
  font-family: robotto, sans-serif;
}

html .menus .firstcontainermenu .starter .subtitle__menus,
body .menus .firstcontainermenu .starter .subtitle__menus {
  font-size: 1em;
  font-weight: 100;
  color: #6d6d6d;
  position: relative;
  margin-bottom: 26px;
}

html .menus .firstcontainermenu .starter .subtitle__menus:after,
body .menus .firstcontainermenu .starter .subtitle__menus:after {
  content: "";
  position: absolute;
  width: 12%;
  bottom: -10px;
  left: 0px;
  right: 25%;
  border-bottom: 5px solid #99e2d0;
}

html .menus .firstcontainermenu .starter .container__menus,
body .menus .firstcontainermenu .starter .container__menus {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 20px solid #000000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-box-shadow: 0px 0px 9px 2px #b5b3b3;
          box-shadow: 0px 0px 9px 2px #b5b3b3;
  -webkit-animation: enterelements 0.5s ease-in-out;
          animation: enterelements 0.5s ease-in-out;
  width: auto;
  transition: 4000ms ease-in-out;
  -webkit-transition: 4000ms ease-in-out;
  -moz-transition: 4000ms ease-in-out;
  -ms-transition: 4000ms ease-in-out;
  -o-transition: 4000ms ease-in-out;
}

html .menus .firstcontainermenu .starter .container__menus--1,
body .menus .firstcontainermenu .starter .container__menus--1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

html .menus .firstcontainermenu .starter .container__menus--2,
body .menus .firstcontainermenu .starter .container__menus--2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

html .menus .firstcontainermenu .starter .container__menus--3,
body .menus .firstcontainermenu .starter .container__menus--3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

html .menus .firstcontainermenu .starter .container__menus--4,
body .menus .firstcontainermenu .starter .container__menus--4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

html .menus .firstcontainermenu .starter .container__menus--5,
body .menus .firstcontainermenu .starter .container__menus--5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

html .menus .firstcontainermenu .starter .container__menus--6,
body .menus .firstcontainermenu .starter .container__menus--6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

html .menus .firstcontainermenu .starter .container__menus--7,
body .menus .firstcontainermenu .starter .container__menus--7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

html .menus .firstcontainermenu .starter .container__menus--8,
body .menus .firstcontainermenu .starter .container__menus--8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

html .menus .firstcontainermenu .starter .container__menus--9,
body .menus .firstcontainermenu .starter .container__menus--9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

html .menus .firstcontainermenu .starter .container__menus:hover,
body .menus .firstcontainermenu .starter .container__menus:hover {
  -webkit-box-shadow: 1px 1px 7px 2px #8a8989;
          box-shadow: 1px 1px 7px 2px #8a8989;
}

html .menus .firstcontainermenu .starter .container__menus:hover .hovervalidation,
body .menus .firstcontainermenu .starter .container__menus:hover .hovervalidation {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: validationcontainer 1s ease-in-out forwards;
          animation: validationcontainer 1s ease-in-out forwards;
}

html .menus .firstcontainermenu .starter .container__menus:hover .points,
body .menus .firstcontainermenu .starter .container__menus:hover .points {
  -webkit-animation: pointsanim 1s ease-in-out forwards;
          animation: pointsanim 1s ease-in-out forwards;
}

html .menus .firstcontainermenu .starter .container__menus:hover .validation,
body .menus .firstcontainermenu .starter .container__menus:hover .validation {
  -webkit-animation: checkanim 1s ease-in-out forwards;
          animation: checkanim 1s ease-in-out forwards;
}

html .menus .firstcontainermenu .starter .container__menus:hover .iconcercle,
body .menus .firstcontainermenu .starter .container__menus:hover .iconcercle {
  -webkit-animation: circleanim 1.1s ease-in-out forwards;
          animation: circleanim 1.1s ease-in-out forwards;
}

html .menus .firstcontainermenu .starter .container__menus:hover .price,
body .menus .firstcontainermenu .starter .container__menus:hover .price {
  -webkit-animation: priceanim 1s ease-in-out forwards;
          animation: priceanim 1s ease-in-out forwards;
}

html .menus .firstcontainermenu .starter .container__menus .title__container,
body .menus .firstcontainermenu .starter .container__menus .title__container {
  margin-top: 0;
  position: absolute;
  font-size: 0.7em;
  top: 15px;
}

html .menus .firstcontainermenu .starter .container__menus .description__menus,
body .menus .firstcontainermenu .starter .container__menus .description__menus {
  font-size: 0.5em;
  color: #6d6d6d;
  position: absolute;
  bottom: 7px;
}

html .menus .firstcontainermenu .starter .container__menus .hovervalidation,
body .menus .firstcontainermenu .starter .container__menus .hovervalidation {
  background-color: #ffffff;
  position: absolute;
  height: 20px;
  width: 82px;
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;
  opacity: 0;
  right: 0px;
  bottom: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

html .menus .firstcontainermenu .starter .container__menus .points,
body .menus .firstcontainermenu .starter .container__menus .points {
  position: absolute;
  font-size: 0.6em;
  color: #6d6d6d;
  bottom: 7px;
  right: 30px;
  opacity: -1;
}

html .menus .firstcontainermenu .starter .container__menus .price,
body .menus .firstcontainermenu .starter .container__menus .price {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 0.5em;
  font-weight: bold;
  z-index: 10;
}

html .menus .firstcontainermenu .starter .container__menus .validation,
body .menus .firstcontainermenu .starter .container__menus .validation {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 61px;
  background-color: #99e2d0;
  z-index: 1;
  border-radius: 0px 20px 8px 0px;
  -webkit-border-radius: 0px 20px 8px 0px;
  -moz-border-radius: 0px 20px 8px 0px;
  -ms-border-radius: 0px 20px 8px 0px;
  -o-border-radius: 0px 20px 8px 0px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0);
          transform: scale(0);
}

html .menus .firstcontainermenu .starter .container__menus .validation .ghostbox,
body .menus .firstcontainermenu .starter .container__menus .validation .ghostbox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .menus .firstcontainermenu .starter .container__menus .validation .ghostbox .iconcercle,
body .menus .firstcontainermenu .starter .container__menus .validation .ghostbox .iconcercle {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

html .menus .firstcontainermenu .starter .container__menus .validation .ghostbox .iconcercle .iconcheck,
body .menus .firstcontainermenu .starter .container__menus .validation .ghostbox .iconcercle .iconcheck {
  position: absolute;
  font-size: 0.7em;
  color: #99e2d0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

html .menus .firstcontainermenu .order,
body .menus .firstcontainermenu .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-top: 20px;
}

html .menus .firstcontainermenu .order .order__button,
body .menus .firstcontainermenu .order .order__button {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #9356dc), color-stop(97%, #ff79da));
  background: linear-gradient(0deg, #9356dc 3%, #ff79da 97%);
  border-radius: 30px;
  padding: 20px 55px;
  font-family: robotto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 4px 9px 3px #e2dddd;
          box-shadow: 0px 4px 9px 3px #e2dddd;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html .menus .firstcontainermenu .order .order__button:hover,
body .menus .firstcontainermenu .order .order__button:hover {
  opacity: 0.7;
  cursor: -webkit-grab;
  cursor: grab;
}

html .menus2,
body .menus2 {
  height: 1127px;
}

@media screen and (min-width: 769px) {
  .starter {
    font-family: robotto, sans-serif;
  }
  .starter .subtitle__menus {
    font-size: 1em;
  }
  .starter .subtitle__menus:after {
    content: "";
    width: 6%;
  }
}

@media screen and (min-width: 1100px) {
  main {
    margin-top: 140px;
  }
  main .topimg {
    margin-top: 30px;
    height: 500px;
  }
  main .menus {
    height: 780px;
  }
  main .menus .firstcontainermenu {
    top: -100px;
    width: 100%;
    height: auto;
    border-radius: 105px 105px 0px 0px;
    -webkit-border-radius: 105px 105px 0px 0px;
    -moz-border-radius: 105px 105px 0px 0px;
    -ms-border-radius: 105px 105px 0px 0px;
    -o-border-radius: 105px 105px 0px 0px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 20px;
  }
  main .menus .firstcontainermenu .restaurantname {
    font-size: 2rem;
  }
  main .menus .firstcontainermenu .heartscontainer1bis {
    position: absolute;
    top: 42px;
    right: 142px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  main .menus .firstcontainermenu .desktopmenus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .menus .firstcontainermenu .desktopmenus .starter {
    font-family: robotto, sans-serif;
    margin-bottom: 40px;
    width: 400px;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .subtitle__menus {
    font-size: 1.3em;
    margin-bottom: 37px;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .subtitle__menus:after {
    content: "";
    width: 5%;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus {
    width: 90%;
    height: 110px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: auto;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .title__container {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .description__menus {
    font-size: 1.1em;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .hovervalidation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 50px;
    width: 169px;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    opacity: 0;
    right: -1px;
    bottom: 0px;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .points {
    position: absolute;
    font-size: 1.1em;
    color: #6d6d6d;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .price {
    font-size: 1.1em;
    position: absolute;
    z-index: 10;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .validation {
    width: 20%;
    height: 110px;
    right: -1px;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .validation .ghostbox {
    width: 100%;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .validation .ghostbox .iconcercle {
    width: 30px;
    height: 30px;
  }
  main .menus .firstcontainermenu .desktopmenus .starter .container__menus .validation .ghostbox .iconcercle .iconcheck {
    font-size: 1.2em;
  }
}

main {
  margin-top: 140px;
}

main .topimg {
  margin-top: 30px;
  height: 500px;
}

main .menus2 {
  height: 911px;
}

header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #ffffff;
  height: 60px;
  z-index: 200;
}

header .header__container,
header .desktop__header {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  position: relative;
}

header .header__container .homelink,
header .desktop__header .homelink {
  text-decoration: none;
  color: #2f2e2e;
}

header .header__container .homelink .arrow,
header .desktop__header .homelink .arrow {
  position: absolute;
  left: 13px;
  bottom: 12px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #393939;
}

header .header__container figure,
header .desktop__header figure {
  width: 100%;
  margin: 0 auto;
}

header .header__container figure .homelink2,
header .desktop__header figure .homelink2 {
  display: block;
  text-decoration: none;
  height: auto;
  text-align: center;
}

header .header__container figure .homelink2 #logo,
header .desktop__header figure .homelink2 #logo {
  text-align: center;
  width: 55%;
  height: auto;
}

@media screen and (min-width: 769px) {
  header {
    height: 101px;
  }
  header .header__container {
    position: relative;
  }
  header .header__container .homelink {
    text-decoration: none;
  }
  header .header__container .homelink .arrow {
    font-size: 45px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1100px) {
  header {
    padding-top: 0;
    position: absolute;
    background-color: transparent;
    height: 153px;
  }
  header .header__container {
    margin-top: 45px;
    height: 96px;
  }
  header .header__container figure {
    height: 150px;
    margin-left: 10px;
  }
  header .header__container figure .homelink2 {
    height: 150px;
  }
  header .header__container figure .homelink2 #logo {
    width: 600px;
    height: 150px;
  }
  header .header__container .homelink {
    text-decoration: none;
  }
  header .header__container .homelink .arrow {
    font-size: 65px;
    margin-bottom: 35px;
    bottom: -7px;
  }
}

.desktop__header {
  width: 100%;
  background-color: #ffffff;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
}

.desktop__header .header__container {
  margin-top: 40px;
}

.desktop__header .header__container figure {
  margin-right: 0;
  width: 100%;
}

.logoplace {
  width: 100%;
  margin: auto;
  margin-right: 0;
}

footer {
  background-color: #353535;
  padding-top: 14px;
  padding-bottom: 30px;
  color: #ffffff;
}

footer #logo__link {
  text-decoration: none;
  color: #ffffff;
}

footer #logo__link:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

footer #logo__link #footertitle {
  font-family: shrikhand;
  letter-spacing: 1px;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  font-weight: 100;
  text-shadow: 0.1px 0.1px 1px #353535;
  font-size: 16px;
  margin-left: 30px;
  color: #ffffff;
}

footer #footerlist {
  list-style-type: none;
  font-family: robotto, sans-serif;
  padding-left: 15px;
}

footer #footerlist .footer__txt {
  font-size: 15px;
  margin-bottom: 8px;
  padding-left: 15px;
}

footer #footerlist .footer__txt .footer__link {
  text-decoration: none;
  color: #ffffff;
}

footer #footerlist .footer__txt .footer__link .footericon {
  padding-right: 12px;
}

@media screen and (min-width: 769px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #footerlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #footerlist .footer__txt {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1100px) {
  footer {
    z-index: 2;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #logo__link {
    text-decoration: none;
  }
  footer #logo__link #footertitle {
    font-size: 1.5em;
    margin-left: 30px;
  }
  footer #footerlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #footerlist .footer__txt {
    font-size: 1.5em;
    margin-left: 45px;
  }
}
/*# sourceMappingURL=styles.css.map */