.order {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-top: 20px;
}
.order__button {
  font-weight: 700;
  font-size: 0.8em;
  border-radius: 30px;
  padding: 12px 32px;
  @extend .btn;
}

@include media-breakpoint-up("sm") {
  .order__button {
    padding: 15px 40px;
    font-size: 1em;
  }
}

@include media-breakpoint-up("xl") {
  .order {
    margin-top: 28px;
  }
  .order__button {
    font-size: 1.2em;
    padding: 20px 60px;
  }
}

@include media-breakpoint-up("xxl"){
  .order{
    margin-top: 47px;
  }
}

@include media-breakpoint-up("xxxl"){
  .order{
    margin-top: 47px;
  }
}

@include media-breakpoint-up("xxxxl"){
  .order{
    margin-top: 25px;
  }
}
