.menus {
  position: relative;
  width: 100%;
  height: 976px;
}
.menus2 {
  position: relative;
  width: 100%;
  height: 1046px;
}
.firstcontainermenu {
  position: absolute;
  top: -20px;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  border-radius: 25px 25px 0px 0px;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -ms-border-radius: 25px 25px 0px 0px;
  -o-border-radius: 25px 25px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.restaurantname {
  font-family: $font1;
  letter-spacing: 1px;
  font-size: 1rem;
  margin-bottom: 0;
}
.starter {
  font-family: $font2;
}
.subtitle__menus {
  font-size: 1em;
  font-weight: 100;
  color: #6d6d6d;
  position: relative;
  margin-top: 30px;
  margin-bottom: 26px;
  &:after {
    content: "";
    position: absolute;
    width: 24%;
    bottom: -10px;
    left: 0px;
    right: 25%;
    border-bottom: 5px solid $tertiary;
  }
}
.container__menus {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 10px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 9px 2px #b5b3b3;
  animation: enterelements 0.5s ease-in-out;
  @for $i from 1 to $number__containermenus {
    &--#{$i} {
      animation-delay: $animdelay * $i;
    }
  }
  &:hover {
    box-shadow: 1px 1px 7px 2px #8a8989;
  }
  &:hover .points {
    animation: pointsanim 1s ease-in-out forwards .6s;
  }
  &:hover .points0 {
    animation: pointsanim 1s ease-in-out forwards .6s;
  }
  &:hover .points1{
    animation: pointsanim 1s ease-in-out forwards .6s;
  }
  &:hover .validation {
    animation: checkanim 1s ease-in-out forwards;
  }
  &:hover .iconcercle {
    animation: circleanim 1.1s ease-in-out forwards;
  }
  &:hover .price {
    animation: priceanim 1s ease-in-out forwards;
  }
}
.title__container {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  position: absolute;
  font-size: 0.6em;
  margin-left: 0px;
  top: 11px;
  left: 10px;
}
.description__menus {
  background-color: #ffffff;
  font-size: 0.52em;
  color: #2a2929;
  position: absolute;
  bottom: 12px;
  left: 10px;
  width: 78%;
}
.points0 {
  background-color: #ffffff;
  opacity: 0;
}
.points1 {
  padding-right: 58px;
  background-color: #ffffff;
  opacity: 0;
}
.points{
  background-color: #ffffff;
  opacity: 0;
}
.price {
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 0.52em;
  font-weight: bold;
  z-index: 10;
}
.validation {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 50px;
  background-color: $tertiary;
  z-index: 1;
  border-radius: 0px 10px 8px 0px;
  -webkit-border-radius: 0px 10px 8px 0px;
  -moz-border-radius: 0px 10px 8px 0px;
  -ms-border-radius: 0px 10px 8px 0px;
  -o-border-radius: 0px 10px 8px 0px;
  transform-origin: right;
  transform: scale(0);
}
.ghostbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconcercle {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.iconcheck {
  position: absolute;
  font-size: 0.7em;
  color: $tertiary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@include media-breakpoint-up("sm") {
  .menus {
    height: 1201px;
  }
  .menus2 {
    height: 1294px;
  }
  .restaurantname {
    font-size: 1.3rem;
  }
  .starter {
    margin-top: 40px;
  }
  .subtitle__menus {
    margin-top: 40px;
    &:after {
      content: "";
      width: 13%;
    }
  }
  .points2{
    padding-right: 72px;
    background-color: #ffffff;
    opacity: 0;
  }
  .container__menus {
    height: 70px;
    border-radius: 18px;
    &:hover .points1 {
      animation: pointsanim 1s ease-in-out forwards .6s;
    }
    &:hover .points2 {
      animation: pointsanim 1s ease-in-out forwards .6s;
    }
    &:hover .points0{
      animation: pointsanim 1s ease-in-out forwards .6s;
    }
  }
  .title__container {
    margin-top: 3px;
    font-size: 0.9em;
  }
  .description__menus {
    font-size: 0.64em;
    bottom: 15px;
  }
  .price {
    font-size: 0.64em;
    right: 15px;
    bottom: 15px;
  }
  .validation {
    width: 63px;
    height: 70px;
  }
}

@include media-breakpoint-up("sm1") {
  .title__container {
    font-size: 1em;
  }
  .description__menus {
    font-size: 0.7em;
    bottom: 10px;
  }
  .price {
    font-size: 0.7em;
  }
}

@include media-breakpoint-up("sm2") {
  .title__container {
    font-size: 1em;
  }
  .description__menus {
    font-size: 0.8em;
    bottom: 10px;
  }
  .price {
    font-size: 0.8em;
  }
}

@include media-breakpoint-up("sm2bis") {
  .menus{
    height: 1205px;
  }
  .menus2{
    height: 1293px;
  }
  .title__container {
    font-size: 1.1em;
  }
  .description__menus {
    font-size: 0.85em;
  }
  .price {
    font-size: 0.85em;
  }
}

@include media-breakpoint-up("sm3") {
  .menus{
    height: 1207px;
  }
  .menus2 {
    height: 1312px;
  }
}

@include media-breakpoint-up("m") {
  .subtitle__menus {
    font-size: 1.1em;
    &:after {
      content: "";
      position: absolute;
      width: 12%;
    }
  }
}

@include media-breakpoint-up("ml") {
  .subtitle__menus {
    font-size: 1.1em;
    &:after {
      content: "";
      position: absolute;
      width: 8%;
    }
  }
}

@include media-breakpoint-up("ml1") {
  .restaurantname{
    font-size: 2em;
  }
  .menus {
    height: 1236px;
  }
  .menus2{
    height: 1326px;
  }
}

@include media-breakpoint-up("md") {
  .menus {
    height: 1377px;
  }
  .menus2{
    height: 1484px;
  }
  .restaurantname{
    font-size: 2.4em ;
  }
  .starter {
    font-family: $font2;
  }
  .subtitle__menus {
    font-size: 1em;
    &:after {
      content: "";
      width: 6%;
    }
  }
  .container__menus {
    height: 85px;
  }
  .price {
    font-size: 1em;
  }
  .validation {
    height: 85px;
  }
}

@include media-breakpoint-up("lg"){
  .menus2{
    height: 1485px;
  }
  .restaurantname {
    font-size: 2.5rem;
  }
}

@include media-breakpoint-up("lg1") {
  .menus{
    height: 1378px; 
  }
  .menus2{
    height: 1488px;
  }
}

@include media-breakpoint-up("xl") {
  .menus {
    height: 845px;
  }
  .menus2 {
    height: 909px;
  }
  .firstcontainermenu {
    top: -100px;
    width: 100%;
    height: 100%;
    border-radius: 105px 105px 0px 0px;
    -webkit-border-radius: 105px 105px 0px 0px;
    -moz-border-radius: 105px 105px 0px 0px;
    -ms-border-radius: 105px 105px 0px 0px;
    -o-border-radius: 105px 105px 0px 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
  .restaurantname {
    font-size: 2rem;
    margin-top: 50px;
  }
  .desktopmenus {
    display: flex;
    justify-content: space-between;
  }
  .starter {
    font-family: $font2;
    margin-bottom: 40px;
    width: 400px;
  }
  .subtitle__menus {
    font-size: 1.3em;
    margin-bottom: 60px;   
    margin-top: 15px; 
    &:after {
      content: "";
      width: 15%;
    }
  }
  .container__menus {
    width: 95%;
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .title__container {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .description__menus {
    font-size: 0.8em;
    margin-top: 10px;
  }
  .points {
    background-color: #ffffff;
    opacity: 0;
  }
  .price {
    font-size: 0.8em;
    position: absolute;
    z-index: 10;
  }
  .validation {
    width: 20%;
    height: 80px;
    right: -1px;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    transform-origin: right;
  }
  .ghostbox {
    width: 100%;
  }
  .iconcercle {
    width: 30px;
    height: 30px;
  }
  .iconcheck {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up("xxl"){
  .menus{
    height: 844px;
  }
  .menus2{
    height: 907px;
  }
  .restaurantname{
    font-size: 2.4rem;
  }
  .description__menus {
    font-size: 0.9em;
  }
}

@include media-breakpoint-up("xxxl"){
  .menus{
    height: 844px;
  }
  .menus2{
    height: 906px;
  }
  .restaurantname{
    font-size: 2.8em;
  }
}

@include media-breakpoint-up("xxxxl") {
  .menus{
    height: 800px;
  }
  .menus2{
    height: 836px;
  }
  .firstcontainermenu{
    padding-left: 275px;
    padding-right: 275px;
  }
  .container__menus{
    width: 139%;
    height: 90px;
  }
  .description__menus{
    margin-bottom: 15px;
  }
  .price{
    bottom: 15px;
  }
  .validation{
    height: 90px;
  }
}