html,
body {
  margin: 0;
}
.mainrestaurant {
  margin-top: 65px;
}

@include media-breapoint-up("md") {
  .mainrestaurant {
    margin-top: 140px;
  }
}

@include media-breapoint-up("xl") {
  body {
    height: 100%;
  }
  .mainrestaurant {
    height: 1166px;
    margin-top: 55px;
  }
  .mainrestaurant2 {
    height: 1287px;
  }
}

@include media-breapoint-up("xxxxl"){
  .mainrestaurant{
    height: 1450px;
  }
  .mainrestaurant2 {
    height: 1484px;
  }
}
