.mainrestaurant {
  margin-top: 58px;
}

@include media-breapoint-up("md") {
  .mainrestaurant {
    margin-top: 140px;
  }
}

@include media-breapoint-up("xl") {
  body {
    height: 100%;
  }
  .mainrestaurant {
    height: 1287px;
    margin-top: 55px;
  }
  .mainrestaurant2 {
    height: 1350px;
  }
}

@include media-breapoint-up("xxxxl"){
  .mainrestaurant{
    height: 1450px;
  }
  .mainrestaurant2 {
    height: 1484px;
  }
}
