.topimg {
  margin-top: 0px;
  height: 177px;
  object-fit: cover;
  width: 100%;
}

@include media-breapoint-up("md") {
  #topsection {
    margin-top: 0px;
  }
  .topimg {
    margin-top: 0px;
    height: 300px;
  }
}

@include media-breapoint-up("xl") {
  .topimg {
    margin-top: 90px;
    height: 500px;
  }
}
