.topimg {
  margin-top: 0px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

@include media-breapoint-up("md") {
  .topimg {
    margin-top: 97px;
    height: 500px;
  }
}

@include media-breapoint-up("xl") {
  .topimg {
    margin-top: 90px;
    height: 500px;
  }
}
