.homepage {
  width: 100%;
  height: auto;
  background: transparent;
  animation: loaderduration 5.1s both;
}
.maindesktop {
  margin-top: 54px;
}

@include media-breapoint-up("s"){
  .maindesktop {
    margin-top: 59px;
  }
}

@include media-breapoint-up("sm1"){
  .maindesktop {
    margin-top: 70px;
  }
}

@include media-breapoint-up("sm2"){
  .maindesktop {
    margin-top: 66px;
  }
}
@include media-breapoint-up("sm2bis"){
  .maindesktop {
    margin-top: 77px;
  }
}

@include media-breapoint-up("sm3"){
  .maindesktop {
    margin-top: 78px;
  }
}

@include media-breapoint-up("m") {
  .maindesktop {
    margin-top: 88px;
  }
}



@include media-breapoint-up("ml") {
  .maindesktop {
    margin-top: 88px;
  }
}

@include media-breapoint-up("mll") {
  .maindesktop {
    margin-top: 115px;
  }
}

@include media-breapoint-up("mll1") {
  .maindesktop {
    margin-top: 117px;
  }
}

@include media-breapoint-up("md") {
  .maindesktop {
    margin-top: -4px;
  }
}

@include media-breapoint-up("lg1") {
  .maindesktop {
    margin-top: 166px;
  }
}



@include media-breapoint-up("xl") {
  body,
  html {
    margin-top: 0;
    height: min-content;
  }
  .homepage {
    display: block;
    background-color: #f7f7f7;
    height: 1019px;
    width: 100%;
    height: 1024px;
  }
  .maindesktop {
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: auto;
  }
  .whiteleftcontainerdesktop {
    background-color: #ffffff;
    width: 40%;
    height: 1024px;
  }
  .leftelementscontainerdesktop {
    margin-top: 221px;
  }
}

@include media-breapoint-up("xxl") {
  body {
    height: 1100px;
  }
  .homepage {
    height: 1100px;
  }
  .whiteleftcontainerdesktop {
    height: 1100px;
  }
  .leftelementscontainerdesktop {
    margin-top: 306px;
  }
}

@include media-breapoint-up("xxxl") {
}
