#location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: -1.8px 0px 1.2px 0px #000000;
  width: auto;
  height: 40px;
  z-index: 1;
  &:hover {
    cursor: grab;
    box-shadow: 0px -1px 2px 3px #a8a6a6;
  }
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0px;
  background-color: #eaeaea;
  font-family: $font2;
  font-size: .8rem;
  font-weight: bold;
  width: 100%;
  .location__icon {
    font-size: 0.9em;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #363636;
  }
  input {
    border: 0px;
    background-color: #eaeaea;
    outline: none;
    width: 46%;
    height: auto;
    &::-webkit-input-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
    &:-moz-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
      width: 100%;
    }
    &::-moz-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
    &:-ms-input-placeholder {
      color: #000000;;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
      &:focus::-webkit-input-placeholder {
        visibility: hidden;
        opacity: 0;
      }
    }
  
  }

@include media-breakpoint-up("sm"){
  form {
    display: flex;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1em;
      }
      &:-moz-placeholder {
        font-size: 1em;
      }
      &::-moz-placeholder {
        font-size: 1em;
      }
      &:-ms-input-placeholder {
        font-size: 1em;
      }
    }
  }
}

@include media-breakpoint-up("sm2"){
  #location{
    height: 43px;
  }
  form {
    font-size: 1.1em;
    .location__icon{
      margin-left: 20px;
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.1em;
      }
      &:-moz-placeholder {
        font-size: 1.1em;
      }
      &::-moz-placeholder {
        font-size: 1.1em;
      }
      &:-ms-input-placeholder {
        font-size: 1.1em;
      }
    }
  } 
}

@include media-breakpoint-up("sm3"){
  #location{
    height: 53px;
  }
  form {
    font-size: 1.05em;
    .location__icon {
      margin-left: 32px;
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.05em;
      }
      &:-moz-placeholder {
        font-size: 1.05em;
      }
      &::-moz-placeholder {
        font-size: 1.05em;
      }
      &:-ms-input-placeholder {
        font-size: 1.05em;
      }
    } 
  }
}

@include media-breakpoint-up("m"){
  #location {
    height: 55px;
  }
  form {
    font-size: 1.1em;
    .location__icon {
      font-size: 1.3em;
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.1em;
      }
      &:-moz-placeholder {
        font-size: 1.1em;
      }
      &::-moz-placeholder {
        font-size: 1.1em;
      }
      &:-ms-input-placeholder {
        font-size: 1.1em;
      }
    }
  } 
}

@include media-breakpoint-up("m1"){
  form {
    font-size: 1.1em;
    .location__icon {
      font-size: 1.3em;
      margin-left: 56px;  
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.1em;
      }
      &:-moz-placeholder {
        font-size: 1.1em;
      }
      &::-moz-placeholder {
        font-size: 1.1em;
      }
      &:-ms-input-placeholder {
        font-size: 1.1em;
      }
    }
  }
}

@include media-breakpoint-up("ml") {
  #location {
    height: 67px;
  }
  form {
    font-size: 1.15em;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.15em;
      }
      &:-moz-placeholder {
        font-size: 1.15em;
      }
      &::-moz-placeholder {
        font-size: 1.15em;
      }
      &:-ms-input-placeholder {
        font-size: 1.15em;
      }
    }
  } 
}

@include media-breakpoint-up("ml1"){
  #location{
    height: 78px;
  }
  form {
    font-size: 1.2em;
    height: 78px;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
      &:-moz-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
      &::-moz-placeholder {
        font-size: 1.2em;
      }
      &:-ms-input-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
    }
  } 
  #location__txt{
    height: 78px;
  }
}

@include media-breakpoint-up("mll"){
  form {
    font-size: 1.2em;
    height: 78px;
    .location__icon{
      margin-left: 79px;
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
      &:-moz-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
      &::-moz-placeholder {
        font-size: 1.2em;
      }
      &:-ms-input-placeholder {
        font-size: 1.2em;
        height: 78px;
      }
    }
  } 
  #location__txt{
    height: 78px;
  }
}


@include media-breakpoint-up("mll1") {
  #location {
    height: 79px;
  }
  form {
    font-size: 1.3em;
    height: 45px;
    .location__icon{
      font-size: 1.4em;
      padding-right: 27px;
    }
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.3em;
      }
      &:-moz-placeholder {
        font-size: 1.3em;
      }
      &::-moz-placeholder {
        font-size: 1.3em;
      }
      &:-ms-input-placeholder {
        font-size: 1.3em;
      }
    }
  } 
}

@include media-breakpoint-up("md") {
  #location {
    margin-top: 153px;
  }
  form {
    margin: 0 130px;
    height: 60px;
    font-size: 1.3em;
    .location__icon{
      font-size: 1em;
      padding-right: 27px;
      margin-left: -28px;
    }
    input {
      height: 45px;
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.3em;
      }
      &:-moz-placeholder {
        font-size: 1.3em;
      }
      &::-moz-placeholder {
        font-size: 1.3em;
      }
      &:-ms-input-placeholder {
        font-size: 1.3em;
      }
    }
  } 
}

@include media-breakpoint-up("lg1") {
  #location {
    margin-top: 153px;
    height: 82px;
  }
  form {
    font-size: 1.8em;
    height: min-content;
    .location__icon {
      font-size: 2.1rem;
      padding-right: 26px;
      padding-left: 32px;
    }
  } 
}

@include media-breakpoint-up("xl") {
  #location {
    height: 55px;
    width: 354px;
    margin: 0 auto;
    margin-top: 374px;
    box-shadow: 0px -0.5px 2.5px 0px #aaa9a9;
    border-radius: 5px;
  }
  form {
    margin: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 356px;
    height: 61px;
    .location__icon {
      font-size: 1.4rem;
      padding-right: 16px;
      padding-left: 32px;
    }
    input {
      width: 56%;
      height: 55px;
      &::-webkit-input-placeholder {
        text-align: center;
        font-size: 1.5rem;
      }
      &:-moz-placeholder {
        font-size: 1.5rem;
      }
      &::-moz-placeholder {
        font-size: 1.5rem;
      }
      &:-ms-input-placeholder {
        font-size: 1.5rem;
      }
    }
  }
  #location__txt{
    height: 60px;
  }
}

@include media-breakpoint-up("xxxxl") {
  .leftelementscontainerdesktop {
    margin-top: 333px;
  }
  #location{
    margin-bottom: 30px;
  }
}
