#location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: -1.8px 0px 1.2px 0px #000000;
  width: auto;
  height: 40px;
  z-index: 1;
  &:hover {
    cursor: grab;
    box-shadow: 1px 1px 3px 3px #a8a6a6;
  }
}
.location__icon {
  font-size: 0.9em;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #363636;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0px;
  background-color: #eaeaea;
  font-family: $font2;
  font-size: .8rem;
  font-weight: bold;
  width: 100%;
  input {
    border: 0px;
    background-color: #eaeaea;
    outline: none;
    width: 46%;
    height: auto;
    &::-webkit-input-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
    &:-moz-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
      width: 100%;
    }
    &::-moz-placeholder {
      color: #000000;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
    &:-ms-input-placeholder {
      color: #000000;;
      font-family: $font2;
      font-size: 0.9em;
      font-weight: bold;
    }
      &:focus::-webkit-input-placeholder {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

@include media-breapoint-up("sm"){
  form {
    display: flex;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1em;
      }
      &:-moz-placeholder {
        font-size: 1em;
      }
      &::-moz-placeholder {
        font-size: 1em;
      }
      &:-ms-input-placeholder {
        font-size: 1em;
      }
    }
  }
}

@include media-breapoint-up("sm2"){
  form {
    font-size: 1.1em;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.1em;
      }
      &:-moz-placeholder {
        font-size: 1.1em;
      }
      &::-moz-placeholder {
        font-size: 1.1em;
      }
      &:-ms-input-placeholder {
        font-size: 1.1em;
      }
    }
  } 
}

@include media-breapoint-up("sm3"){
  #location{
    height: 53px;
  }
  form {
    font-size: 1.05em;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.05em;
      }
      &:-moz-placeholder {
        font-size: 1.05em;
      }
      &::-moz-placeholder {
        font-size: 1.05em;
      }
      &:-ms-input-placeholder {
        font-size: 1.05em;
      }
    } 
  }
}

@include media-breapoint-up("m"){
  #location {
    height: 55px;
  }
  .location__icon {
    font-size: 1.3em;
  }
  form {
    font-size: 1.1em;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.1em;
      }
      &:-moz-placeholder {
        font-size: 1.1em;
      }
      &::-moz-placeholder {
        font-size: 1.1em;
      }
      &:-ms-input-placeholder {
        font-size: 1.1em;
      }
    }
  } 
}

@include media-breapoint-up("ml") {
  #location {
    height: 67px;
  }
  form {
    font-size: 1.15em;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.15em;
      }
      &:-moz-placeholder {
        font-size: 1.15em;
      }
      &::-moz-placeholder {
        font-size: 1.15em;
      }
      &:-ms-input-placeholder {
        font-size: 1.15em;
      }
    }
  } 
}

@include media-breapoint-up("mll1") {
  #location {
    height: 67px;
  }
  .location__icon{
    font-size: 1.4em;
    padding-right: 27px;
  }
  form {
    font-size: 1.3em;
    height: 45px;
    input {
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.3em;
      }
      &:-moz-placeholder {
        font-size: 1.3em;
      }
      &::-moz-placeholder {
        font-size: 1.3em;
      }
      &:-ms-input-placeholder {
        font-size: 1.6em;
      }
    }
  } 
}

@include media-breapoint-up("md") {
  #location {
    margin-top: 153px;
  }
  .location__icon{
    font-size: 1.6em;
    padding-right: 27px;
  }
  form {
    margin: 0 130px;
    height: 60px;
    font-size: 1.4em;
    input {
      height: 45px;
      border: 0px;
      &::-webkit-input-placeholder {
        font-size: 1.4em;
      }
      &:-moz-placeholder {
        font-size: 1.4em;
      }
      &::-moz-placeholder {
        font-size: 1.4em;
      }
      &:-ms-input-placeholder {
        font-size: 1.4em;
      }
    }
  } 
}

@include media-breapoint-up("lg1") {
  #location {
    margin-top: 153px;
    height: 82px;
  }
  .location__icon{
    font-size: 1.6em;
    padding-right: 1px;
  }
  form {
    font-size: 1.8em;
    height: min-content;
    input {
      border: 0px;
      height: 100px;
      &::-webkit-input-placeholder {
        font-size: 1.8em;
      }
      &:-moz-placeholder {
        font-size: 1.8em;
      }
      &::-moz-placeholder {
        font-size: 1.8em;
      }
      &:-ms-input-placeholder {
        font-size: 1.8em;
      }
    }
  } 
}

@include media-breapoint-up("xl") {
  #location {
    height: 53px;
    width: 390px;
    margin: 0 auto;
    margin-top: 281px;
    box-shadow: 0px -0.5px 2.5px 0px #aaa9a9;
    border-radius: 5px;
  }
  .location__icon {
    font-size: 1.2rem;
    padding-right: 16px;
    padding-left: 32px;
  }
  form {
    margin: 0;
    font-size: 1.3rem;
    border-radius: 5px;
    input {
      width: 56%;
      height: 52px;
      &::-webkit-input-placeholder {
        text-align: center;
        font-size: 1.3rem;
      }
      &:-moz-placeholder {
        font-size: 1.3rem;
      }
      &::-moz-placeholder {
        font-size: 1.3rem;
      }
      &:-ms-input-placeholder {
        font-size: 1.3rem;
      }
    }
  }
}

@include media-breapoint-up("xxxxl") {
  .leftelementscontainerdesktop {
    margin-top: 333px;
  }
  #location{
    margin-bottom: 30px;
  }
}
