#restaurants {
  background-color: #f7f7f7;
  padding: 20px 3%;
  margin-top: 50px;
  position: relative;
}
#marker {
  position: absolute;
  top: -40px;
}
.homeh2 {
  font-family: $font2;
  font-size: 1em;
  margin: 10px;
  margin-bottom: 15px;
}

.restaurantlink {
  text-decoration: none;
  color: #000000;
}
.restaurantcontainers {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 3px;
  width: 97%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  font-family: $font2;
  box-shadow: 0px 4px 9px 3px #e2dddd;
  transition: 0.4s ease-in-out;
  &:hover {
    box-shadow: -5px 7px 10px 4px #e2dddd;
  }
}
.restaurantimg {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  transition: 0.4s ease-in-out;
  object-fit: cover;

  &:hover {
    opacity: 0.3;
  }
}
.new {
  position: absolute;
  top: 13px;
  right: 14px;
  padding: 7px 13px;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: bold;
  color: #0c8e6e;
}
.restaurant__title {
  font-family: $font2;
  margin: 10px 0px 13px 10px;
  font-size: 1em;
}
.restaurantp {
  font-family: $font2;
  margin: 0px 0px 13px 10px;
  font-size: 1em;
}

@include media-breakpoint-up("sm") {
  .homeh2 {
    font-size: 1.1em;
  }
}
@include media-breakpoint-up("sm2") {
  #restaurants{
    padding-left: 16px;
  }
  .homeh2 {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up("sm3") {
  #restaurants{
    margin-top: 70px;
  }
  .homeh2 {
    font-size: 1.4em;
  }
}

@include media-breakpoint-up("m") {
  #restaurants{
    margin-top: 70px;
  }
  .homeh2 {
    font-size: 1.45em;
  }
}

@include media-breakpoint-up("ml") {
  #restaurants{
    padding: 40px 3%;
    }
  .homeh2 {
    font-size: 1.7em;
    margin-bottom: 25px;
  }
}

@include media-breakpoint-up("ml1") {
  #restaurants{
    padding: 45px 3%;
    }
  .homeh2 {
    font-size: 1.8em;
    margin-bottom: 27px;
  }
}

@include media-breakpoint-up("md") {
  #restaurants {
    padding: 40px 20px;
  }

  .restaurant__lign {
    display: flex;
    justify-content: space-around;
  }
  .restaurantlink {
    width: 98%;
  }
  .restaurantcontainers {
    width: 95%;
  }
}

@include media-breakpoint-up("xl") {
  #restaurants {
    background-color: transparent;
    position: absolute;
    padding: 40px 0px;
    right: 5px;
    top: 248px;
    text-align: center;
    width: 56%;
    max-width: 56%;
  }
  .homeh2 {
    font-size: 1.7em;
    margin-bottom: 60px;
  }
  .restaurant__lign {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .restaurantlink {
    width: 98%;
    margin-right: 12px;
  }
.restaurantcontainers {
  width: 95%;
  height: 281px;
  margin-right: 10px;
  animation: enterelements .5s ease-in-out 3.1s;
  @for $i from 1 to $numrestaurantcontainers {
    &--#{$i} {
      animation-delay: calc($animdelaybox * $i);
    }
  }
}
  .restaurantimg {
    width: 100%;
    height: 203px;
  }
  .new {
    position: absolute;
    top: 13px;
    right: 14px;
    padding: 7px 13px;
    font-size: 1em;
  }
  .restaurant__title {
    font-size: 1.3em;
    text-align: start;
    margin: 10px 0px 5px 20px;
  }
  .restaurantp {
    text-align: start;
    margin: 0px 0px 13px 20px;
    font-size: 1.2em;
  }
}

@include media-breakpoint-up("xl1"){
  .restaurant__lign{
    margin-bottom: 0;
  }
}

@include media-breakpoint-up("xxl"){
  .restaurant__lign{
    margin-bottom: 22px;
  }
}

@include media-breakpoint-up("xxxl2"){
  .homeh2-1 {
    margin-left: -34px;
  }
  .restaurant__lign{
    margin-bottom: 22px;
  }
  .restaurantcontainers {
    height: 298px;
  }
  .restaurantimg{
    height: 216px;
  }
}

@include media-breakpoint-up("xxxxl") {
  #restaurants {
    top: 250px
  }
  .homeh2 {
    margin-bottom: 90px;
    font-size: 3.2em;
  }
  .restaurant__lign{
    margin-bottom: 17px;
  }
  .restaurantcontainers{
    height: 418px;
  }
  .restaurantimg{
    height: 320px;
  }
}
