.homepage {
  width: 100%;
  height: auto;
  background: transparent;
  animation: loaderduration 5.1s both;
}
main {
  margin-top: 61px;
  #location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: -1.8px 0px 1.2px 0px #000000;
    width: auto;
    height: 55px;
    z-index: 1;
    &:hover {
      cursor: grab;
      box-shadow: 1px 1px 3px 3px #a8a6a6;
    }
    .location__icon {
      font-size: 15px;
      padding-right: 15px;
      color: #363636;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: 0px;
      background-color: #eaeaea;
      font-family: $font2;
      font-size: 1rem;
      font-weight: 550;

      input {
        border: 0px;
        background-color: #eaeaea;
        outline: none;
        width: 56%;
        &::-webkit-input-placeholder {
          font-family: $font2;
          font-size: 1em;
          font-weight: 550;
          &:focus::-webkit-input-placeholder {
            visibility: hidden;
            opacity: 0;
          }

          &:-moz-placeholder {
            font-size: 1.2rem;
            font-weight: 600;
          }
          &::-moz-placeholder {
            font-size: 1em;
            font-weight: 600;
          }
          &:-ms-input-placeholder {
            font-size: 1em;
            font-weight: 600;
          }
        }
      }
    }
  }
  #navsection {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 58px;
    h1 {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 20px;
      font-family: $font2;
      font-size: 20px;
      text-align: center;
    }
    #navsection__txt {
      width: 80%;
      margin: 0 auto;
      font-family: $font2;
      font-size: 18px;
      color: #565555;
      text-align: center;
      margin-bottom: 30px;
    }
    #nav__bar {
      margin: 0 auto;
      text-align: center;
      #navbar__button {
        background: linear-gradient(0deg, $primary 3%, $secondary 97%);
        border-radius: 30px;
        padding: 15px 18px;
        font-family: $font2;
        font-size: 16px;
        color: #ffffff;
        border: none;
        box-shadow: 0px 4px 9px 3px #e2dddd;
        transition: 0.4s ease-in-out;
        &:hover {
          opacity: 0.7;
          cursor: grab;
        }
      }
    }
  }
  #functioning {
    margin-left: 20px;
    h2 {
      font-family: $font2;
      font-size: 20px;
    }
    #functioninglist {
      max-width: 92%;
      list-style-type: none;
      font-family: $font2;
      font-weight: bold;
      margin: 6px;
      padding-left: 0px;
      .functioning__button {
        font-size: 0.6em;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 25px 0px;
        box-shadow: 0px 4px 9px 3px #e2dddd;
        display: flex;
        align-items: center;
        &:hover {
          background-color: #f5edff;
          box-shadow: 1px 4px 12px 3px #e2dddd;
        }
        &:hover > .fcticon {
          color: $primary;
        }
      }
      .number__container {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(-50%, -50%);
        .circle {
          position: relative;
          width: 7px;
          height: 7px;
          padding: 2px 12px;
          background-color: $primary;
          border-radius: 100%;
          .circle__number {
            position: absolute;
            color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -45%);
          }
        }
      }
      .fcticon {
        margin: 0px 10px 0px 26px;
        font-size: 1em;
        color: #8d8d8d;
        &:hover {
          color: $primary;
        }
      }
      .fct__text {
        margin: 0px 10px 0px 0px;
        font-size: 1.2em;
        &:hover {
          color: #000000;
        }
      }
    }
  }

  #restaurants {
    background-color: #f7f7f7;
    padding: 40px 3%;
    position: relative;
    #marker {
      position: absolute;
      top: -40px;
    }
    h2 {
      font-family: $font2;
      font-size: 20px;
      margin: 10px;
      margin-bottom: 25px;
    }
    .restaurantlink {
      text-decoration: none;
      color: #000000;
      .restaurantcontainers {
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-bottom: 3px;
        width: 97%;
        height: auto;
        background-color: #ffffff;
        border-radius: 20px 20px 20px 20px;
        font-family: $font2;
        box-shadow: 0px 4px 9px 3px #e2dddd;
        transition: 0.4s ease-in-out;
        &:hover {
          box-shadow: -5px 7px 10px 4px #e2dddd;
        }
      }
      .restaurantimg {
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0px 0px;
        transition: 0.4s ease-in-out;
        object-fit: cover;

        &:hover {
          opacity: 0.3;
        }
      }
      .new {
        position: absolute;
        top: 0px;
        right: 14px;
        padding: 7px 13px;
        background-color: #99e2d0;
        font-size: 14px;
        font-weight: bold;
        color: #0c8e6e;
      }
      h3 {
        margin: 10px 0px 5px 10px;
        font-size: 1em;
      }
      .restaurantp {
        margin: 0px 0px 13px 10px;
        font-size: 1em;
      }
    }
  }
  .heartscontainer1 {
    position: absolute;
    transform: scale(0.8);
    right: 35px;
    bottom: 55px;
  }
}

@include media-breapoint-up("md") {
  main {
    margin-top: 102px;
    #functioning {
      margin-left: 20px;
      margin-right: 20px;

      h2 {
        font-family: $font2;
        font-size: 1.3em;
      }
      #functioninglist {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        margin-right: 20px;

        .functioning__button {
          margin-bottom: 20px;
          margin-right: 0px;
          padding: 20px 10px 20px 5px;
          display: flex;
          align-items: center;
          .fcticon {
            font-size: 1.3em;
            margin-right: 13px;
          }
          .fct__text {
            font-size: 1.3em;
            margin-right: 10px;
          }
        }
      }
    }
    #restaurants {
      padding: 40px 20px;

      .restaurant__lign {
        display: flex;
        justify-content: space-around;
        .restaurantlink {
          width: 98%;
          .restaurantcontainers {
            width: 95%;
          }
        }
      }
    }
  }
}

//version dekstop
@include media-breapoint-up("xl") {
  body,
  html {
    margin-top: 0;
    height: max-content;
    .homepage {
      display: block;
      background-color: #f7f7f7;
      height: 1200px;
      width: 100%;
    }
    .maindesktop {
      margin-top: 0px;
      display: flex;
      width: 100%;
      height: auto;
      .whiteleftcontainerdesktop {
        background-color: #ffffff;
        width: 40%;
        height: 150vh;
        .leftelementscontainerdesktop {
          margin-top: 300px;
          #location {
            height: 65px;
            width: 350px;
            margin: auto;
            margin-top: 55px;
            border-radius: 5px;
            border: 0px;
            box-shadow: 0px 0px 0px;

            &:hover {
              cursor: grab;
              box-shadow: 1px 1px 3px 3px #a8a6a6;
            }
            .location__icon {
              font-size: 1.3rem;
              padding-right: 25px;
            }
            form {
              font-size: 1.3rem;

              input {
                width: 56%;
                &::-webkit-input-placeholder {
                  text-align: center;
                  font-size: 1.3rem;
                  &:focus::-webkit-input-placeholder {
                    opacity: 0;
                  }

                  &:-moz-placeholder {
                    font-size: 2rem;
                  }
                  &::-moz-placeholder {
                    font-size: 2em;
                  }
                  &:-ms-input-placeholder {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
          #navsection {
            padding-top: 43px;
            padding-bottom: 15px;
            background-color: transparent;
            h1 {
              margin-bottom: 20px;
              font-size: 1.5em;
            }
            #navsection__txt {
              font-size: 1.4em;
              margin-bottom: 30px;
            }
            #nav__bar {
              margin: 0 auto;
              margin-bottom: 7px;
              #navbar__button {
                border-radius: 40px;
                padding: 25px 28px;
                font-size: 1.1em;
              }
            }
          }
          #functioning {
            margin: 50px 40px 100px 40px;
            text-align: center;
            margin-top: 15px;

            h2 {
              font-family: $font2;
              font-size: 1.5em;
              margin-top: 20px;
              margin-bottom: 30px;
            }
            #functioninglist {
              margin-right: 0px;
              flex-direction: column;
              margin: auto;
              padding-left: 15%;

              .functioning__button {
                width: 85%;
                padding: 25px 10px 25px 25px;
                border-radius: 40px;
                .fcticon {
                  font-size: 1.8em;
                  margin-right: 23px;
                }
                .fct__text {
                  font-size: 1.8em;
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
      #restaurants {
        position: absolute;
        padding: 40px 20px;
        right: 15px;
        bottom: 144px;
        text-align: center;
        width: 56%;
        max-width: 56%;
        h2 {
          font-size: 2em;
          margin-bottom: 65px;
        }
        .restaurant__lign {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .restaurantlink {
            width: 98%;
            .restaurantcontainers {
              width: 95%;
              height: 280px;
              .restaurantimg {
                width: 100%;
                height: 200px;
              }
              .new {
                position: absolute;
                top: 0px;
                right: 14px;
                padding: 7px 13px;
                font-size: 1em;
              }
              h3 {
                font-size: 1.4em;
                text-align: start;
                margin: 10px 0px 5px 25px;
              }
              .restaurantp {
                text-align: start;
                margin: 0px 0px 13px 25px;
                font-size: 1.4em;
              }
            }
          }
          .heartscontainer1 {
            position: absolute;
            right: 50px;
            bottom: 63px;
          }
        }
      }
    }
  }
}
