@keyframes checkanim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes priceanim {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-285%);
  }
}

@keyframes pointsanim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circleanim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360 * 2deg);
  }
}

@keyframes validationcontainer {
  0% {
    transform: scaleX(0.6);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes enterelements {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

//animation loader
@keyframes loaderduration {
  0% {
    opacity: 0;
    z-index: -100;
  }
  99% {
    opacity: 0;
    z-index: -100;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}

@include media-breakpoint-up("sm") {
  @keyframes priceanim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-305%);
    }
  }
}

@include media-breakpoint-up("xl") {
  @keyframes priceanim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-375%);
    }
  }
}

@include media-breakpoint-up("xxxxl"){
  @keyframes priceanim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-555%);
    }
  }
}