$breakpoints: (
  s: 255px,
  sm: 285px,
  sm1: 310px,
  sm2: 350px,
  sm2bis: 360px,
  sm3: 380px,
  m: 420px,
  ml: 500px,
  ml1: 530px,
  mll: 600px,
  mll1: 650px,
  md: 760px,
  lg: 830px,
  lg1: 1000px,
  xl: 1100px,
  xxl: 1220px,
  xxxl: 1400px,
  xxxxl: 2000px,
);

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$gradientbutton: linear-gradient(to bottom, $primary, $secondary);
$lighten: 10%;
$gradient-lighten: linear-gradient(to bottom, 
lighten($primary,$lighten),
lighten($secondary, $lighten));


$font1: shrikhand;
$font2: robotto, sans-serif;

$numfunctioning__button: 3;
$animboxduration: 1s;
$animdelaybutton: calc($animboxduration / $numfunctioning__button);

$numrestaurantcontainers: 4;
$animdelaybox: calc($animboxduration / $numrestaurantcontainers);

$number__containermenus: 10;
$animduration: 1s;
$animdelay: calc($animduration / $number__containermenus);
