.heartlink{
  text-decoration: none;
  width: 100%;
  height: 11px;
  display: inline-block;
}
.heartscontainer1bis {
  position: absolute;
  transform: scale(0.7);
  bottom: 1px;
  right: 8px;
}
.heartscontainer1 {
  position: absolute;
  transform: scale(0.9);
  right: 16px;
  bottom: 45px;
}
#emptyheart{
  position: absolute;
  top: 0;
  left: 0;
  &#emptyheart:hover{
    animation: heartanim2 0.4s ease-in-out forwards;
  }
  &#emptyheart:hover + .fullheart{
    animation: heartanim 0.4s ease-in-out forwards;
  }
}
.heartcontainer2{
  position: relative;
  width: 20px;
  height: 20px;
  &.heartcontainer2:hover > .fullheart{
    animation: heartanim .4s linear  forwards;
  }
}
.fullheart {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iZnVsbGhlYXJ0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjIuNjYgMTU0LjEzIj48cGF0aCBpZD0iZnVsbGhlYXJ0LTIiIGRhdGEtbmFtZT0iZnVsbGhlYXJ0IiBkPSJNNDU2LjM0LDE5OS40N2M3Ljg0LTE2LjQsOS42My0zMy4zMSwzLjI0LTUwLjU5LTEyLjUtMzMuNzgtNTIuNjYtMzMuMjEtNjktMTQuOTQtMiwyLjI0LTQuMTMsNC4zNy02LjA2LDYuNjYtMS42MiwxLjkxLTMsMi00LjYyLDAtMS44Ny0yLjIxLTMuOTQtNC4yNi01Ljg1LTYuNDMtMTYuMzYtMTguNTYtNTYuNzItMTkuMTktNjkuMjYsMTQuNjEtNy40NSwyMC4xMS0zLjk0LDM5LjIsNi42Nyw1Ny4yQzMyOC43OCwyMzUuNDIsMzU1LDI1NS44OCwzODIsMjc1LjY0YzEzLjc0LTkuMDksMzMuNTUtMjUuNCw0NS40Ni0zNy4zOEM0MzksMjI2LjcyLDQ0OS4yNiwyMTQuMjYsNDU2LjM0LDE5OS40N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMDAuOCAtMTIxLjUxKSIvPjwvc3ZnPg==);
  mask-repeat: no-repeat;
  background: linear-gradient(180deg, $primary 0%, $secondary 10%);
  background-size: 800% 800%;
  transform: scale(0);
  -webkit-animation: gradientheart 30s ease infinite;
  -moz-animation: gradientheart 30s ease infinite;
  -o-animation: gradientheart 30s ease infinite;
  animation: gradientheart 30s ease infinite;
}

@-webkit-keyframes gradientheart {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientheart {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes gradientheart {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientheart {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes heartanim{
  0%{
      transform:scale(0);
  } 
  100% {
          transform: scale(1.1);
  }
}

@keyframes heartanim2{
  0%{
      transform:scale(1);
  }  
  100% {
          transform: scale(0);
  }
}

@include media-breakpoint-up("sm") {
  .heartscontainer1bis {
    transform: scale(0.8);
    right: 10px;
    bottom: 3.5px;
  }
}

@include media-breakpoint-up("sm1"){
  .heartscontainer1bis {
    right: 21px;
  }
}

@include media-breakpoint-up("sm2bis") {
  .heartscontainer1bis{
    right: 41px;
    bottom: 7.5px;
  }
}

@include media-breakpoint-down("sm3") {
  .heartscontainer1bis{
    bottom: 9.5px;
  }
}

@include media-breakpoint-up("m") {
  .heartscontainer1bis {
    transform: scale(0.8);
    right: 54px;
  }
}

@include media-breakpoint-up("m1") {
  .heartscontainer1bis{
    transform: scale(1);
    right: 40px;
  }
}

@include media-breakpoint-up("ml") {
  .heartscontainer1bis{
    transform: scale(0.9);
   }
}

@include media-breakpoint-up("ml1") {
  .heartscontainer1bis{
   transform: scale(1.2);
   bottom: 9.5px;
  }
} 

@include media-breakpoint-up("mll1") {
  .heartscontainer1bis{
    transform: scale(1);
  }
}

@include media-breakpoint-up("md") {
  .heartscontainer1bis{
    transform: scale(1.1);
  }
}

@include media-breakpoint-up("xl") {
  .heartscontainer1bis {
    position: absolute;
    right: 90px;
    transform: scale(1.2);
  }
  .heartscontainer1 {
    position: absolute;
    right: 25px;
    bottom: 44px;
  }
}

@include media-breakpoint-up("xxxl"){
  .heartscontainer1bis{
    bottom: 22px;
    transform: scale(1.8);
  }
}

@keyframes emptyanim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@include media-breakpoint-up("xxxxl"){
  .heartscontainer1{
    bottom: 60px;
  }
}
